{%extends "layout.html"%}
{%block content%}
	<form method="POST" action="" enctype="multipart/form-data">
		{{form.hidden_tag()}}
		<section class=" container vh-100 vw-100">
		  <div class="container py-5">
		    <div class="row">
		      <div class="col-lg-4">
		        <div class="card mb-4">
		          <div class="card-body text-center">
		            <img src="{{image_file}}" alt="avatar"
		              class="rounded-circle img-fluid" style="width: 150px;">
		            <h5 class="my-3">{{current_user.username}}</h5>
		            <p class="text-muted mb-1">{{current_user.location}}</p>
		            <p class="text-muted mb-3">{{current_user.email}}</p>
		            <div class="form-group">
						{{form.picture.label()}}
						{{form.picture(class="form-control-file")}}
						{%if form.picture.errors%}
							{%for error in form.picture.errors%}
									<span class="text-danger">{{error}}</span></br>
								{%endfor%}
						{%endif%}
					</div>
		          </div>

		        </div>
		      </div>
		      <div class="col-lg-8">
		        <div class="card mb-4">
		          <div class="card-body">
		            <div class="row">
		              <div class="col-sm-3">
		                <p class="mb-0">Full Name</p>
		              </div>
		              <div class="d-flex flex-row align-items-center">
				                    <div class="form-outline flex-fill mb-0">
						                    {%if form.username.errors%}
												{{form.username(class="form-control form-control-sm is-invalid")}}
												<div class="invalid-feedback">
													{%for error in form.username.errors%}
														<span>{{error}}</span>
													{%endfor%}
												</div>
											{%else%}
												{{form.username(class="form-control form-control-sm")}}
											{%endif%}
				                    </div>
				                  </div>
		            </div>
		            <hr>
		            <div class="row">
		              <div class="col-sm-3">
		                <p class="mb-0">Email</p>
		              </div>
		              <div class="d-flex flex-row align-items-center">
				                    <div class="form-outline flex-fill mb-0">
						                    {%if form.email.errors%}
												{{form.email(class="form-control form-control-sm is-invalid")}}
												<div class="invalid-feedback">
													{%for error in form.email.errors%}
														<span>{{error}}</span>
													{%endfor%}
												</div>
											{%else%}
												{{form.email(class="form-control form-control-sm")}}
											{%endif%}
				                    </div>
				                  </div>
		            </div>
		            <hr>
		            <div class="row">
		              <div class="col-sm-3">
		                <p class="mb-0">Phone</p>
		              </div>
		              <div class="d-flex flex-row align-items-center">
				                    <div class="form-outline flex-fill mb-0">
						                    {%if form.phone.errors%}
												{{form.phone(class="form-control form-control-sm is-invalid")}}
												<div class="invalid-feedback">
													{%for error in form.phone.errors%}
														<span>{{error}}</span>
													{%endfor%}
												</div>
											{%else%}
												{{form.phone(class="form-control form-control-sm")}}
											{%endif%}
				                    </div>
				                  </div>
		            </div>
		            <hr>
		            <div class="row">
		              <div class="col-sm-3">
		                <p class="mb-0">Address</p>
		              </div>
		              <div class="d-flex flex-row align-items-center">
				                    <div class="form-outline flex-fill mb-0">
						                    {%if form.location.errors%}
												{{form.location(class="form-control form-control-sm is-invalid")}}
												<div class="invalid-feedback">
													{%for error in form.location.errors%}
														<span>{{error}}</span>
													{%endfor%}
												</div>
											{%else%}
												{{form.location(class="form-control form-control-sm")}}
											{%endif%}
				                    </div>
				                  </div>
		            </div>
		          </div>
		        </div>
		        <div class="content-section">
						<legend class="border-bottom mb-4">Your Information</legend>
						<div class="form-group">
							{{form.content.label(class="form-control-label")}}
							{%if form.content.errors%}
								{{form.content(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{%for error in form.content.errors%}
										<span>{{error}}</span>
									{%endfor%}
								</div>
							{%else%}
								{{form.content(class="form-control form-control-lg")}}
							{%endif%}
						</div>

						
				
			</div>
			<div class="form-group">
							{{ form.submit(class="btn btn-outline-info") }}
						</div>
		</form>
		</section>

{%endblock%}