{%extends "layout.html"%}
{%block content%}
<body style="background-color: #98091a;">
  <div class="container-fluid">
    <div class="row">
      <div class="row-md-6 p-0">
        <div class="float-left">
          <div class='row-md-6 p-0'>
          	<h2 class="text-white mb-4">For Caterers</h2>
          	<div class='float-left mr-5'>
            	<img src="static/image4.png" alt="Food" class="img-fluid mb-4">
            </div>
            <div class="ml-5">
		        <p class="text-white">Signing up for 6Foods lets you promote your catering business and allows customers to find you. No more hunting for customers, let them hunt for you.</p>
		        <p class="text-white">With 6Foods, you can easily showcase your menu, prices, and customer reviews, and connect with potential customers who are looking for catering services. Join the 6Foods community today and start growing your business!</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row-md-6 p-0">
        <div class="float-left">
          <div class="row-md-6 p-0">
          	<h2 class="text-white mb-4">For Clients</h2>
            <div class='float-left mr-5'>
            	<img src="static/image5.png" alt="Food" class="img-fluid mb-4">
            </div>
            <p class="text-white">Signing up for 6Foods allows you to find the best caterers for your parties, events, weddings, and more. With 6Foods, you can easily browse through a wide selection of caterers, compare their menus, prices, and customer reviews, and book the one that best fits your needs and budget. Whether you're planning a small dinner party or a large corporate event, 6Foods has you covered. Join the 6Foods community today and discover the best catering services in your area!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{%endblock%}